<div class="content">
  <h1>Add a new user</h1>
  <div class="panels"></div>
  <div class="half-width narrow">
    <h2>Create a new user</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :method => :POST) do |f| %>
      <div class="field">
        <%= f.label :email do %>
        Email<br>
        <%end%>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :username do %>
        Username<br>
        <%end%>
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :password do %>
        Password 
        <% if @minimum_password_length %>
          (<%= @minimum_password_length %> characters minimum)
        <% end %><%end%>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign Up", :class=>"option-button"%>
      </div>
      <%= devise_error_messages! %>
    <% end %>
    <div style="position:relative">
      <a href="/users/edit"><button class="option-button">Cancel</button></a>
    </div>
  </div>
</div>