<div class="table_container">
  <div class="table_header_container" id="table_header_">
    <table id="table_header">
      <thead>
        <tr>
          <th id="name_col" style="border-color:white"><%= sortable "Name" %></th>
          <th id="gender_col"><%= sortable "Gender" %></th>
          <th id="start_date_col" ><%= sortable "start_date" %></th>
          <th id="end_date_col"><%= sortable "end_date" %></th>
          <th>Housing</th>
          <th>Income</th>
          <th>SSN</th>
          <th>DOB</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="scrolling_table" id="patients_table_" onscroll="synch_scroll()">
    <table id="patients_table">
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
              <td style="border-color:white"><%= patient.name %></td>
              <td><%= patient.gender %></td>
              <td><%= patient.start_date.strftime("%Y-%b-%d") %></td>
              <td><%= patient.end_date.strftime("%Y-%b-%d") %></td> 
              <td></td><td></td><td></td><td></td>
          </tr>
      <% end %>
     </tbody>
    </table>
  </div> 
</div>
