<div class="container full-width">
    <div class="top_link"><i class="fa fa-cog"></i><a href="/users/edit" style="top:10px; text-align:right">Settings</a></div>
    <div class="top_link"><i class="fa fa-cog"></i><a href="/users/edit">Settings</a></div>
    <div class="table" id="patients_table" onscroll="sticky()">
        <table>
            <thead>
            <tr>
              <th><%= sortable "Name" %></th>
              <th><%= sortable "Gender" %></th>
              <th><%= sortable "start_date" %></th>
              <th><%= sortable "end_date" %></th>
            </tr>
          </thead>
          <tbody>
            <% @patients.each do |patient| %>
              <tr>
                  <td><%= patient.name %></td>
                  <td><%= patient.gender %></td>
                  <td><%= patient.start_date %></td>
                  <td><%= patient.end_date %></td>  
              </tr>
            <% end %>
         </tbody>
            
    </div>
</div>