      <td><button type="button" value="Filter" onclick="popupfilter()"><i class="fa fa-filter fa-3x"></i><br>Filter</button></td>
      <td><button type="button" value="reset" onclick="reset()"><i class="fa fa-undo fa-3x"></i><br>Reset</button></td>
      <td><button type="button" value="import"><i class="fa fa-refresh fa-3x"></i><br>Import</button></td>
    </tr>
  </tbody>
</table>
<div class="content">
  <%= render :partial=>"/patients/filters.html.erb" %>
  <div class="table_header_container">
    <table id="table_header">
      <thead>
        <tr>
          <th><%= sortable "Name" %></th>
          <th><%= sortable "Gender" %></th>
          <th><%= sortable "start_date" %></th>
          <th style="border:none"><%= sortable "end_date" %></th>
        </tr>
      </thead>
    </table>
  </div>
  <%= render :partial=>"/patients/patient_list.html.erb" %>
</div>
