<div class="container">
  <div class="top_link"><i class="fa fa-wrench"></i><a href="/users/edit">Setting</a></div>
  <%= render :partial=>"/patients/filters.html.erb" %>
  <div class="table_header_container">
    <table id="table_header">
      <thead>
        <tr>
          <th><%= sortable "Name" %></th>
          <th><%= sortable "Gender" %></th>
          <th><%= sortable "start_date" %></th>
          <th style="border:none"><%= sortable "end_date" %></th>
        </tr>
      </thead>
    </table>
  </div>
  <%= render :partial=>"/patients/patient_list.html.erb" %>
</div>