<div class="container">
    <h1>Welcome</h1>
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
        <p> Username:</br> <%= f.text_field :username%> </p>
        <p> Email:</br> <%= f.text_field :email%> </p>
        <p> Password:</br> <%= f.password_field :password%></p>
        <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
        <%= f.submit :Signup %>
    <% end %>
    <%= flash[:error].html_safe unless flash[:error].blank? %>
    <button class="option-button" type="button" action="\settings">Cancel</button>
</div>