<!DOCTYPE html>
<html>
<head>
  <title>Maitri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if user_signed_in? %>
  
    <div class="side_bar-nav">
      <a href="/"><img src="/assets/Maitrilogo.png" style="margin-left:20px"/></a>
      <ul class="nav">
        <li id="home_tab"><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li id="report_tab"><a href="/patients/reports"><i class="fa fa-file-text-o"></i> Reports</a></li>
        <li id="edit_tab"><a href="/users/edit"><i class="fa fa-cog"></i> Settings</a></li>
        <li style="border:none"><%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i> Log Out<%end%></li>
      </ul>
    </div>
  <% elsif !is_sign_in_path %>
    <% controller.redirect_to ("/users/sign_in") %>
  <% end %>
  <%= yield %>
  <div class="footer">
    <a href="https://icons8.com">Icon pack by Icons8</a>
  </footer>
</body>
<script>
  $(document).ready(function(){
    localStorage;
    var path = window.location.pathname;
    if (path=="/users/edit"){
      $("#edit_tab").addClass("active_page");
    } else if (path == '/' || path.match(/patients\/overview/)){
      $("#home_tab").addClass("active_page");
    }
    hide_columns();
  });
</script>
</html>