<!DOCTYPE html>
<html>
<head>
  <title>Maitri</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <a href="/patients/overview"><img src="/assets/Maitri.png" style="left:0"></a>
     <% if user_signed_in? %>
      <div class="bottom_link">
        <i class="fa fa-sign-out"></i>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      </div>
    <% elsif !is_signin_path %>
      <% controller.redirect_to ("/users/sign_in") %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
